= bootstrap_form_for @user, layout: :horizontal do |f|
  = f.alert_message "Please fix the errors below."
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.text_field :name, label: t('activerecord.label.user.name')
  = f.text_field :short_name, label: t('activerecord.label.user.short_name')
  = f.collection_select :organization_id, Organization.all, :id, :display_name, { include_blank: true }, {class: 'form-control', data_placeholder: 'Choose a job ...'}
  - if current_user.present? && current_user.admin?
    = f.check_box :admin
    - if !@user.new_record?
      = f.check_box :active

  .actions
    = f.submit 'Save'
