= bootstrap_form_for @user, layout: :horizontal do |f|
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.text_field :name, label: t('activerecord.label.user.name')
  = f.text_field :short_name, label: t('activerecord.label.user.short_name')
  - if current_user.admin?
    = f.check_box :admin
    - if !@user.new_record?
      = f.check_box :active

  .actions
    = f.submit 'Save'
