= simple_form_for @user do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :name, label: t('activerecord.label.user.name')
  = f.input :short_name, label: t('activerecord.label.user.short_name')
  = f.association :organization, collection: Organization.all.order(:name), label_method: 'display_name', prompt: "Choose an Organization", input_html: {class: 'form-control'}
  - if current_user.present? && current_user.admin?
    = f.input :admin
    - if !@user.new_record?
      = f.input :active
  .actions
    = f.button :submit, class: 'btn btn-primary'
