= semantic_form_for @user, layout: :horizontal do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :name, label: t('activerecord.label.user.name')
  = f.input :short_name, label: t('activerecord.label.user.short_name')
  = f.input :organization_id, as: :select, collection: Organization.all.map{|x| [x.display_name, x.id]}, input_html: {include_blank: true, class: 'form-control', data_placeholder: 'Choose an organization'}
  - if current_user.present? && current_user.admin?
    = f.input :admin
    - if !@user.new_record?
      = f.check_box :active

  .actions
    = f.submit 'Save'
