- user_presenter = UserPresenter.new(@users.first, self)

%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Phone
      %th Admin?
      %th.actions

  %tbody
    - @users.each do |user|
      - user_presenter.__setobj__(user)
      %tr
        %td= user_presenter.name
        %td= user_presenter.email
        %td= user_presenter.display_phone
        %td= user_presenter.admin? ? fa_icon('check') : ''
        %td
          = user_presenter.show_link
          = user_presenter.edit_link
          = user_presenter.destroy_link

%br
-if policy(:user).new?
  = link_to 'New User', new_user_path
