%p
  %b= t('activerecord.label.user.name') + ':'
  = @user.name
%p
  %b= t('activerecord.label.user.short_name') + ':'
  = @user.short_name

%p
  %b= t('activerecord.label.user.pronoun') + ':'
  = display_pronouns @user

%p
  %b Email:
  = @user.email

- if @user.organization.present?
  %p
    %b Organization:
    = @user.organization.display_name

%p
  %b Completed Surveys:
  =render partial: 'surveys', locals: {user: @user}

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
