= semantic_form_for @event do |f|
  = f.input :name
  = f.input :start_date, as: :string, input_html: {class: :date}
  = f.input :end_date, as: :string, input_html: {class: :date}
  %hr
  = f.input :leadup_date, as: :string, input_html: {class: :date}
  = f.input :followup_date, as: :string, input_html: {class: :date}
  .actions
    = f.submit 'Save'
