= simple_form_for @event do |f|
  = f.input :name
  = f.input :start_date, as: :date, start_day: Date.today.day - 100,
                              end_day: Date.today.day + 500
  = f.input :end_date, as: :date, start_day: Date.today.day - 100,
                              end_day: Date.today.day + 500
  %hr
  = f.input :leadup_date, as: :date, start_day: Date.today.day - 100,
                              end_day: Date.today.day + 500
  = f.input :followup_date, as: :date, start_day: Date.today.day - 100,
                              end_day: Date.today.day + 500
  .actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
