= semantic_form_for @organization, layout: :horizontal do |f|
  = f.input :name
  = f.input :short_name, label: t('activerecord.label.organization.short_name')
  = f.input :url, label: 'URL'

  .actions
    = f.submit 'Save'
