%h1 Listing organizations

%table
  %thead
    %tr
      %th Name
      %th= t('activerecord.label.organization.short_name')
      %th.actions

  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.name
        %td= organization.short_name
        %td
          - if policy(:organization).show?
            = link_to organization, title: 'Show', class: 'icon' do
              = fa_icon 'eye'
          - if policy(:organization).edit?
            = link_to edit_organization_path(organization), title: 'Edit', class: 'icon' do
              = fa_icon 'wrench'
          - if policy(:organization).destroy?
            = link_to organization, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy', class: 'icon' do
              = fa_icon 'times'

%br
-if policy(:organization).new?
  = link_to 'New Organization', new_organization_path
