.row
  .col-md-4
    .page-header.users-header
      %h2 Users
  .col-md-8
    .filters_listing
      = render partial: 'index_filters_form'

.row
  .col-md-6
    .btn-group.btn-group-md#users_table_actions
      = link_to emails_filters_path(), {data: {toggle: "modal", target: "#modal-window", table_ids: "#user-filter"}, remote: true, class: "btn btn-default"} do
        = fa_icon "envelope"
        Get selected emails
      = link_to tags_filters_path(), {data: {toggle: "modal", target: "#modal-window", table_ids: "#user-filter"}, remote: true, class: "btn btn-default"} do
        = fa_icon "tag"
        Tag selected users

  .col-md-6.text-right
    .btn-group.btn-group-md#list_actions_toolbar
      = link_to link_filters_path(), {id: 'user-filter-link', data: {toggle: "modal", target: "#modal-window", table_ids: "#user-filter"}, remote: true, class: "btn btn-default"} do
        = fa_icon "link"
        Link

      -# = link_to csv_filters_path(), class: 'btn btn-default', title: "Download as CSV" do
      -#   %span.glyphicon.glyphicon-download
      -#   %span{title: 'Download as CSV file'} CSV

%br
.row
  .col-md-12
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.nav-item{role: 'presentation'}
        %a.nav-link#toggle-user-data{href: "#", name: 'filters_toggle', data: {toggle: {table: '#user-filter', show: ".overview_column, .base_column" }}} Overview
      %li.nav-item{role: 'presentation'}
        %a.nav-link.active#toggle-outreach{href: "#", name: 'filters_toggle', data: {toggle: {table: '#user-filter', show: ".outreach_column, .base_column, .interest_column, .tag_column" }}} Outreach
      - @surveys.each do |survey|
        %li.nav-item{role: 'presentation'}
          %a.nav-link{id: "toggle-survey-#{survey.id}", href: "#", name: 'filters_toggle', data: {toggle: {table: '#user-filter', show: ".survey_#{survey.id}_column, .base_column"}}}= "Survey: #{survey.display_title}"
      %li.nav-item{role: 'presentation'}
        %a.nav-link#toggle-interests{href: "#", name: 'filters_toggle', data: {toggle: {table: '#user-filter', show: ".interest_column, .base_column"}}} Interests
      %li.nav-item{role: 'presentation'}
        %a.nav-link#toggle-tags{href: "#", name: 'filters_toggle', data: {toggle: {table: '#user-filter', show: ".tag_column, .base_column"}}} Tags

      -# %li.nav-item{role: 'presentation'}
      -#   %a.nav-link#toggle-tags{href: "#", name: 'filters_toggle', data: {toggle: {table: '#user-filter', show: ".overview_column, #{@surveys.collect{|s| ".survey_#{s.id}_column"}.join(', ')}, .interest_column, .tag_column, .base_column"}}} Test Everything
