%h1 Listing users

%table#user-filter
  %thead
    %tr
      %th.actions.base_column{data: {permitted: true}}
        = check_box_tag 'select_user_ids', true, false, data: {select_table: '#user-filter', select_checkboxes: '.select-row-checkbox'}
      %th Name
      %th Email
      - @current_survey.sections.each do |section|
        - section.questions.each do |question|
          %th= question.short_text
      %th.actions
    %tr#column_input
      %th.actions
      %th.text_searchable
      %th.text_searchable
      - @current_survey.sections.each do |section|
        - section.questions.each do |question|
          %th{class: datatables_searchable_class(question)}
      %th.actions

  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= !user.name.blank? ? user.name : user.short_name
        %td= user.email
        - @current_survey.sections.each do |section|
          - section.questions.each do |question|
            - if (response_set = @response_sets.where(user_id: user.id).take).present? && response_set.responses.present?
              %td= display_answer_text(question, response_set)
            - else
              %td
        %td
          - if policy(:user).show?
            = link_to user, title: 'Show', class: 'icon' do
              = fa_icon 'eye'
          - if policy(:user).edit?
            = link_to edit_user_path(user), title: 'Edit', class: 'icon' do
              = fa_icon 'wrench'
          - if policy(:user).destroy?
            = link_to user, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Destroy', class: 'icon' do
              = fa_icon 'times'

%br
-if policy(:user).new?
  = link_to 'New User', new_user_path
