= render partial: "top_nav"

- data_source = filters_path(filters: filter_params)

.table-responsive
  %table#user-filter.table.table-sm.table-bordered.table-striped.table-hover{data: {source: data_source}}
    %thead
      %tr
        %th.actions.base_column{data: {key: 'id', permitted: true, column_type: "base_column"}}
          = check_box_tag 'select_user_ids', true, false, data: {select_table: '#user-filter', select_checkboxes: '.select-row-checkbox'}
        %th.base_column.text_searchable{data: {key: 'name', permitted: true, column_type: "base_column"}} Name
        %th.base_column.text_searchable{data: {key: 'email', permitted: true, column_type: "base_column"}} Email
        %th.overview_column.outreach_column.text_searchable{data: {key: 'phone', permitted: true, column_type: "overview_column"}} Phone
        %th.overview_column.text_searchable{data: {key: 'city', permitted: true, column_type: "overview_column"}} City
        %th.organization_column.multi_select_searchable{data: {key: 'organization', permitted: true, column_type: "organization_column"}} Organization
        - @surveys.each do |survey|
          - survey.sections.each do |section|
            - section.questions.each do |question|
              %th{class: "survey_#{survey.id}_column #{datatables_searchable_class(question)}", data: {key: "q_#{question.id}", permitted: true, column_type: "survey_#{survey.id}_column"}}= question.short_text
        %th.outreach_column.text_searchable{data: {key: 'admin_notes', permitted: true, column_type: "outreach_column"}} Admin Notes
        %th.interest_column.multi_select_searchable{data: {key: 'interests', permitted: true, column_type: "interest_column"}} Interests
        %th.tag_column.multi_select_searchable{data: {key: 'tags', permitted: true, column_type: "tag_column"}} Tags
        %th.actions.base_column{data: {key: 'actions', permitted: true, column_type: "base_column"}}

      %tr#column_input
        %th.actions.base_column{data: {key: 'id', permitted: true, column_type: "base_column"}}
        %th.base_column.text_searchable{data: {key: 'name', permitted: true, column_type: "base_column"}}
        %th.base_column.text_searchable{data: {key: 'email', permitted: true, column_type: "base_column"}}
        %th.overview_column.outreach_column.text_searchable{data: {key: 'phone', permitted: true, column_type: "overview_column"}}
        %th.overview_column.text_searchable{data: {key: 'city', permitted: true, column_type: "overview_column"}}
        %th.organization_column.multi_select_searchable{data: {key: 'organization', permitted: true, column_type: "organization_column"}}
        - @surveys.each do |survey|
          - survey.sections.each do |section|
            - section.questions.each do |question|
              %th{class: "survey_#{survey.id}_column #{datatables_searchable_class(question)}", data: {key: "q_#{question.id}", permitted: true, column_type: "survey_#{survey.id}_column"}}
        %th.outreach_column.text_searchable{data: {key: 'admin_notes', permitted: true, column_type: "outreach_column"}}
        %th.interest_column.multi_select_searchable{data: {key: 'interests', permitted: true, column_type: "interest_column"}}
        %th.tag_column.multi_select_searchable{data: {key: 'tags', permitted: true, column_type: "tag_column"}}
        %th.actions.base_column{data: {key: 'actions', permitted: true, column_type: "base_column"}}

    %tbody
    -# see JSON

%br
-if policy(:user).new?
  = link_to 'New User', new_user_path
